<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <img [src]="recipe.picture" alt="">
    </div>
    <mat-card-title>{{ recipe.name }}</mat-card-title>
    <mat-card-subtitle>&nbsp;</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="recipe.picture" [alt]="recipe.name">
  <mat-card-content>
    <p class="description">
      {{ recipe.description }}
    </p>
    <div *ngIf="more">
      <mat-card-title>Ingredients for this recipe : </mat-card-title>
      <ul *ngFor="let ingredient of recipe.ingredients">
        <li>{{ ingredient.name }}</li>
      </ul>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="!more; else notExpanded" mat-raised-button color="primary" (click)="showMore()">SHOW MORE</button>
    <ng-template #notExpanded>
      <button mat-raised-button color="primary" (click)="showMore()">SHOW LESS</button>
    </ng-template>
    <button mat-raised-button color="primary">SHARE</button>
  </mat-card-actions>
</mat-card>
